.bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
}

.canvas-bg {
  background-color: rgb(34 62 98 / 90%);
  padding-bottom: 40px;
  overflow: hidden;
  overflow-x: scroll;
}

.canvas-options {
  padding: 40px;
  background-color: rgb(34 62 98);
  color: #fff;
  width: 1900px;
}

#canvas {
  display: block;
}

#ruta, #pesoRuta {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
}
